body {
	padding: 0;
	margin: 0;
}

.logo {
	background-color: white;
	width: 70px;
	height: 70px;
}

.headings {
	height: 100px;
	color: white;
	margin-left: 50%;
	margin-bottom: 30px;
}

header {
	background-color: black;
	width: 100%;
	height: 100px;
}

.main {
	width: 100%;
	height: 100%;
	margin-left: 27%;
	margin-top: 10%;
}

.crumbs ul {
	list-style-type: none;
	padding-left: 0;
}

.crumbs a {
	color: white;
}

.crumb {
	display: inline-block;
}
